# DB_HOST=your-mysql-host
# DB_PORT=3306
# DB_USER=your-mysql-user
# DB_PASSWORD=your-mysql-password-or-empty
# DB_NAME=your-database-name
# DB_TLS_MODE=preferred
# DB_CA_CERT_PATH=../ca.pem
# PORT=8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=uni_accom_python
DB_TLS_MODE=false
DB_CA_CERT_PATH=
PORT=8000
